<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onzzz.i2vdemo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".UseParse"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="hGtXZAgKrUE3O6Wko09msqe3XmTnNFPtnTCTx3QW" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="Om9CsGAWx0DTaisBnI3bqYZAbpv9q8ZnCgXwpCzw" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CreateEventActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".EventActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PhotoUploadActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CreateVideoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AddMemberActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".UserInfoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CustomGalleryActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
